<!DOCTYPE html>

<html lang="en">
  <head>

    <title>Analyze Location</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/7b1d958192.js" crossorigin="anonymous"></script>
	
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/main.css">

  </head>
<body>

	<!-- Navigation bar -->
	
	<!-- Logo -->
	<nav class="navbar navbar-expand-md">
		<a class="navbar-brand" href="index.html">Logo</a>  

		<div id="title">
			Analyze Location
		</div>
		
		<!-- Drop down menu -->
		<div id="pages-drop-box">
			<button id="pages-drop-btn" type="reset">ANALYZE
			<i class="fas fa-caret-down"></i>
			</button>
			
			<div id="pages-dropdown-menu">
				<a href="time.html">Time</a>
				<a href="network.html">Network</a>
			</div> 
		</div>	
		
	</nav>


     <!-- First grid view ( "Temple Logo"(d3.js stuff) and "Top Tweets and Top News" -->
	<div class="row">
        
		<!-- First column -->
		<div class="col-12 col-md-10">
	<header class="page-header header container-fluid">
			
		</div>
	</header>
	
		<!-- Second column -->
		<div class="col" style="background-color: #470a0a"> <!-- Second column background color -->
		

		
		</div>
	</div>

<script src="static/jquery-3.3.1.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/main.js"></script>
</body>
</html>